$blue-quiz-color: #7FDEF6;
$blue-quiz-hover-color: #72C7DD;
$green-quiz-color: #88CC99;
$green-quiz-hover-color: #7AB789;
$red-quiz-color: #F6878D;
$red-quiz-hover-color: #DD797E;
$pink-quiz-color: #F399C5;
$pink-quiz-hover-color: #DA89B1;
$yellow-quiz-color: #FFE599;
$yellow-quiz-hover-color: #E5CE89;
$white-color: #ffffff;
$black-color: #323232;
$gray-color: #eeeff1;
